.iconos {
  padding: var(--separacion);
}

@media (min-width: 768px) {
  .iconos {
    display: flex;
    gap: 2rem;
  }
}

.icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(var(--separacion) / 2);
}

.icono:last-of-type {
  margin: 0;
}

@media (min-width: 768px) {
  .icono {
    margin: 0;
  }
}

.icono img {
  width: 5rem;
}

.icono h3 {
  text-transform: uppercase;
  color: var(--primario);
  margin-top: calc(var(--separacion) / 2);
}
